.search {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: var(--padding-width);
  border-radius: var(--border-radius);
  transition: border-color 0.3s ease;
}
.search:focus {
  outline: none;
  flex-grow: 1;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 200px;
}
.wrapper-3 {
  display: flex;
  gap: 10px;
}
.wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  padding: 20px;
  max-width: 550px;
}
.todoEnter:focus {
  outline: none;
}
.header {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

.wrapper-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.todoEnter {
  flex-grow: 1;
  padding: var(--padding-width);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.btn {
  padding: var(--padding-width) 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--hover-color);
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search::placeholder {
  padding-left: 5px;
}

.text {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 20% auto;
  }

  .wrapper-2 {
    gap: 10px;
    margin-bottom: 10px;
  }
  .dateTimeContainer {
    display: flex;
    justify-content: space-between;
  }
  .todoItem {
    display: grid;
  }
  .text {
    padding: 10px;
  }
}
@media screen and (max-width: 468px) {
  .wrapper-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .search {
    border: 1px solid var(--border-color);
    width: 94%;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: border-color 0.3s ease;
    grid-column-start: span 3;
  }
}
