@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
:root {
  --add-color: #0073ee;
  --hover-color: #ffab00;
  --success-color: #28a745;
  --delete-color: #dc3545;
  --edit-color: #ffc107;
  --border-radius: 5px;
  --roboto: "Roboto", sans-serif;
}
* {
  font-family: var(--roboto);
}
